# PureChain Client Configuration

# Network
RPC_URL=https://purechainnode.com:8547
CHAIN_ID=900520900520
PURECHAIN_NETWORK=mainnet

# Credentials 
PURECHAIN_PRIVATE_KEY=<your_private_key_here>
BIOPASSPORT_CONTRACT_ADDRESS=0x39365098fE7FECe35cf68c4a5cF00deC1E78Fa5B

# Organization
PURECHAIN_ORG_ID=Org1MSP
